/* HTML Selectors */

/* Class Selectors */

/* ID Selectors */
#color-heading {
    color: white;
    background-color: #337ca0;
}

#color-background {
    color: white;
    background-color: #60e1e0;
}

#typography {
    font-family: Roboto;
}