/* HTML Selectors */
* {
    font-family: Roboto;
}

body {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: darkred;
    height: 125px;
    justify-content: center;
}

nav {
    background-color: darkred;
    text-align: right;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* main.dark {
    background-color: black;
    color: white;
} */

h1 {
    font-size: 26px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid darkgray;
}

h2 {
    font-size: 26px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkred;
    margin: 0px;
}

footer {
    background-color: darkred;
    text-align: center;
    padding: 20px;
}

/* Class Selectors */
.profile-picture {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.profile-image {
    margin-left: auto;
    margin-right: 20px;
    height: 100px;
    width: 75px;
    box-shadow: 0px 0px 10px;
    color: black;
}

.profile-name {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-size: 26px;
    color: white;
}

.nav-list {
    display: none;
    margin-top: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    border-bottom: solid 1px white;
}

.dark {
    background-color: black;
    color: white;
    box-shadow: none !important;
}

.open {
    display: flex;
    flex-direction: column;
}

/* .active {
    background-color: brown;
} */

.nav-link {
    text-align: center;
    list-style: none;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link:hover {
    background-color: brown;
}

.nav-link a {
    text-decoration: none;
    color: white;
}

.learning-card {
    border: 2px solid darkgray;
    border-radius: 4px;
    margin: 5px;
}

.info-card {
    border: 2px solid darkgray;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
}

.activity-list {
    list-style: none;
}

.activity-list-item {

}

/* ID Selectors */
#darkmode-picture { /* darkmode picture element */
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
}

#darkmode-toggle {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

#nav-toggle {
    text-align: center;
    color: white;
    background-color: darkred;
    border: 1px solid;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: auto;
}

#nav-toggle::before {
    content: "☰";
}

#nav-toggle.open::before {
    content: "❌";
}

#hero-picture {
    position: relative;
}

#hero-picture img {
    width: 100%;
    height: auto;
}

#hero-label {
    position: absolute;
    top: 30px;
    left: 30px;
}

#hero-label p {
    color: black;
    font-size: 26px;
    font-family: Verdana;
    border: 1px solid white;
    padding: 20px;
    margin: 0;
}

#map {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#copyright {
    color: white;
}

#copyright p {
    margin: 5px;
}

#lastModified {
    color: yellow;
}